%h4 Archives
%ol.list-unstyled
  %li
    =link_to 'January', months_path
  %li
    =link_to 'Feburary', months_path
  %li
    =link_to 'March', months_path
  %li
    =link_to 'April', months_path
  %li
    =link_to 'May', months_path
  %li
    =link_to 'June', months_path
  %li
    =link_to 'July', months_path
  %li
    =link_to 'August', months_path
  %li
    =link_to 'September', months_path
  %li
    =link_to 'October', months_path
  %li
    =link_to 'November', months_path
  %li
    =link_to 'December', months_path
